/* Gfonts Poopins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    background: #1d1e21;
    background-image: url('/imgs/solar.png');
    /* Fallback of BG TEXT */
    /* background-image: url('/imgs/solar1.png'); */
    background-size: cover;
    font-family: 'Poppins',
        sans-serif;
}

/* Hide Scroll bar through Magic */

html {
    overflow: hidden !important;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}